@import './include.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  color: $color-black;
  cursor: default;
  font-family: Helvetica, Arial, sans, sans-serif;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

ul, 
ol, 
dl {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  appearance: none;
  background: transparent;
  border: none;
  display: inline-block;
  font-family: inherit;
  font-size: 1em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  cursor: pointer;
}