@import '../../../../theme/include.scss';

.Controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    & > li + li {
        margin-left: 0.5rem;
    }
}
