.CircularProgressBar {
    & .circleBackground,
    & .circleProgress {
        fill: none;
    }

    & .circleBackground {
        stroke: #333;
    }

    & .circleProgress {
        stroke: url(#gradient);
        stroke-linecap: round;
        stroke-linejoin: round;
        transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
    }

    & .circleText {
        font-size: 3em;
        font-weight: bold;
        fill: url(#gradient);
    }
}