@import './theme/include.scss';

$app-background-color: $color-black;
$app-color: $color-white;

.App {
    width: 100vw;
    height: 100vh;
    color: $app-color;
    background-color: $app-background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.15s ease;

    &.active {
        background-color: $color-green;
    }

    &.pause {
        background-color: $color-gray;
    }

    &.stop {
        background-color: $color-red;
    }

    &Container {
        width: 320px;
        max-height: 568px;
    }
}